[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
flake8 = "*"
ipython = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pymemcache = "*"
redis = "*"

[requires]
python_version = "3.7"
